<div class="footer">
    <div>
        <img src="/media/icons/ACM_logo.png" width="100px">
    </div>
    <h2>ABES ACM Chapter</h2>
    <div>We at the Association of Computing Machinery , ABES EC aim to instill spirit of technology and computing among the students, through various fields of modern technology</div>
    <br>
    <div style="font-weight: bold; font-size: 18px;">
        <a class="footer-links" href="{% url 'home' %}">Home</a>
        <a class="footer-links" href="{% url 'home' %}">About</a>
        <a class="footer-links" href="{% url 'home' %}">Student Chapter</a>
        <a class="footer-links" href="{% url 'home' %}">Women Chapter</a>
        <a class="footer-links" href="{% url 'home' %}">Events</a>
    </div>
    <h4 style="margin-top: 40px;margin-bottom: 0;">© Designed and Developed by Office Bearers of ABES ACM Student chapter</h4>
</div>