{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="#" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'base/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/navbar.css' %}">
    {% block stylesheet %}{% endblock %}
    
    <script src="{% static 'base/js/main.js' %}"></script>
    <script src="{% static 'base/js/navbar.js' %}" defer></script>
    {% block script %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}
    {% endblock %}
    
</body>
</html>