<div class="nav-container" >
    <div class="navbar">
        <div class="home-container">
            <a class="home" href="{% url 'home' %}">
                <img src="/media/icons/ACM logo.png" width="40px">
            </a>
            <div style="display: inline-block;height: 100%;vertical-align: middle;font-weight: bold;">ABES-EC</div>
        </div>
        <div class="search">
            <form id="search-form" method="GET" action="/search" onsubmit="return validateSearch('search-form', 'search-bar')">
                <input id="search-bar" type="text" name="search" placeholder="Search people or events..." value="{{request.GET.search}}" autocomplete="off">
                <button class="clear" onclick="clearinput('search-bar')" type="button"><i class="fa fa-times" style="font-size: 12px;"></i></button>
                <button class="search-icon" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div id="results-container"></div>
        </div>
        <div class="dropdown">
            <div class="hov">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <div class="dropdown-content">
                <div id="dropdown-links">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'team' %}">Team Chapters</a>
                    <a href="{% url 'events' %}">Events</a>
                    <a href="{% url 'aboutus' %}">About Us</a>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' request.user.username %}">{{request.user.username}}</a>
                    <a href="{% url 'logout' %}" style="margin-bottom: 5%;">Logout</a>
                    {% else %}
                    <a href="{% url 'signup' %}">Sign Up/Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <a class="nav prof" href="{% url 'profile' request.user.username %}"><img width="75%" height="75%" style="border-radius: 50%;border: 1px solid rgba(0,0,0,0.5);" src="{% if request.user.student %} {{request.user.student.profile_pic.url}} {% else %} {{request.user.member.profile_pic.url}} {% endif %}"></a>
        <a class="nav" href="{% url 'logout' %}" style="margin-right: 5px;">Logout</a>
        {% else %}
        <a class="nav" href="{% url 'signup' %}" style="margin-right: 2px;">Sign Up/Login</a>
        {% endif %}
        <a class="nav" href="{% url 'team' %}">Team</a>
        <a class="nav" href="{% url 'events' %}">Events</a>
        <a class="nav" href="{% url 'aboutus' %}">About Us</a>
    </div>
</div>

<div style="position: fixed;bottom: 0; width: 100%; z-index: 1;">
    <div class="hidden-social">
        <div class="social">
            <a href="https://www.linkedin.com/in/acm-abes-ec-6967b71b6/"><div><i class="fa fa-linkedin"></i></div></a>
            <a href="https://www.facebook.com/abesec.acm/"><i class="fa fa-facebook"></i></a>
            <a href="https://instagram.com/acm_abesec?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/@acmabesec3967"><i class="fa fa-youtube-play"></i></a>
        </div>
    </div>
</div>
