.outer-container {
    height: calc(100% - 50px);
    width: 80%;
    margin: auto;
    overflow-y: auto;
}
.search-container {
    width: 100%;
    margin: auto;
    margin-top: 3%;
}

.tags-container {
    display: grid;
    height: fit-content;
    margin-top: 5px;
}
.tag {
    margin-bottom: 5px;
}
.tag:hover {
    color: rgb(57, 180, 180);
    text-decoration: underline;
}
.event {
    display: grid;
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.f {
    display: flex;
    width: fit-content;
    margin: auto;
}
.f input {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 5px;
    width: 100px;
    font-family: 'Inria Sanse', sans-serif;
}
#search-bar-events {
    border-radius: 5px 0 0 5px;
    height: 100%;
}
#event-search-form button{
    border-radius: 0;
    border-left: 0;
    height: 100%;
    width: 5%;
}
#event-search-form button:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
}
.more {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    color: rgb(49, 89, 79);
    background-color: rgb(210, 233, 227);
    border: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.15s;
    font-family: 'Inria Sans', sans-serif;
    background-color: white;
}
.more:hover {
    background-color: rgba(210, 233, 227, 0.6);
}
.image {
    position: absolute;
    left: 100%;
    top: 0;
}
.hov {
    display: inline;
    position: relative;
}
.image div {
    background-color: rgba(0,0,0,0.5);
    object-fit: contain;
    display: none;
    height: 150px;
    width: 150px;
    padding: 2px;
    z-index: 1;
    margin-left: 10px;
    transition: all 0.2s;
}
.hov:hover .image div {
    display: block;
}
.image div:hover {
    transform: scale(1.5);
}
.event-search-container {
    width: 40vw;
}
#search-bar-events {
    width: 90%;
    box-sizing: border-box;
    float: left;
}
.year-container {
    justify-content: space-between;
    margin-left: 20px;
}

#year {
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}

.search-result-container {
    display: grid;
    margin-top: 3%;
    grid-template-columns: 20% 80%;
}
.event-tag {
    font-size: 14px;
}

@media screen and (max-width:958px) {
    .outer-container {
        width: 95%;
        font-size: 14px;
    }
    .f {
        padding: 0;
    }
    .f input {
        width: 15px;
    }
    .year-container {
        width: fit-content;
        margin: auto;
    }
}
@media screen and (max-width:500px) {
    .outer-container {
        font-size: 14px;
        height: calc(100vh - 51px);
        display: flex;
        flex-direction: column;
    }
    .search-result-container {
        padding-top: 10px;
        grid-template-columns: 1fr;
        overflow-y: auto;
    }
    .tags-container {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
        box-shadow: 0 0 20px 15px #f6f8fa;
    }
    .events-container {
        overflow-y: auto;
    }
    .f {
        display: grid;
    }
    .f input {       
        padding: 2px;
    }
    .event-search-container {
        width: 90vi;
        margin: auto;
    }
    #search-bar-events {
        width: 80%;
        height: 25px;
        margin-left: 5px;
    }
    #event-search-form button{
        font-size: 12px;
        height: 100%;
        width: 8%;
    }
    .f input {
        font-size: 10px;
        width: 80px;
    }
    .year-container {
        margin-top: 5px;
    }
    .tag {
        font-size: 12px;
        margin-bottom: 2px;
    }
    .event {
        padding-left: 5px;
    }
    .search-result-container p {
        font-size: 12px;
        display: -webkit-box;
        max-width: calc(100%);
        margin-top: 2px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .hov {
        font-size: 16px;
    }
    .event-date {
        font-size: 12px;
    }
    .event-tag {
        font-size: 10px;
    }
    .image {
        left: 0;
        top: 20px;
        z-index: 2;
    }
    .image div {
        width: 80px;
        height: 80px;
    }
    #load-more-container input {
        font-size: 12px;
        width: fit-content;
    }
}