{% extends "main.html" %}

{% block title %}About Us{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'base/css/aboutus.css' %}">
{% endblock %}

{% block content %}
<div class="aboutus-container">
    <div class="left-pane">
        <h1 style="margin-top: 5%;">About Us</h1>
        <div class="links">
            <a href="#acm">ACM</a>
            <a href="#facteam">Faculty Team</a>
            <a href="#chapter">Student Chapter</a>
            <a href="#wchapter">Women Chapter</a>
            {% if alumnis %}
            <a href="#alumni">Alumni</a>
            {% endif %}
        </div>
    </div>
    <div style="overflow-y: hidden;">
        <div class="shadow"></div>
        <div class="main">
            <div id="acm">
                <div class="container">
                    <div style="margin: 2%; padding-bottom: 1%; padding-top: 1%;">
                        <h1>ACM</h1>
                        <p>ACM, or the Association for Computing Machinery, is a professional organization dedicated to advancing the field of computing. With over 100,000 members across the globe, ACM serves as a hub for researchers, practitioners, and educators in computing and related disciplines.</p>
                        <p>Founded in 1947, ACM has a rich history of contributing to the development of computer science and promoting its use for the benefit of society. The organization publishes numerous journals and conference proceedings, as well as a variety of educational resources for students and professionals alike.</p>
                        <p>ACM also sponsors a number of special interest groups (SIGs) focused on specific areas of computing, such as artificial intelligence, computer graphics, and human-computer interaction. These SIGs provide a forum for members with similar interests to collaborate and share knowledge.</p>
                        <p>addition to its publications and SIGs, ACM offers a range of professional development opportunities, including conferences, workshops, and online courses. The organization also recognizes excellence in the field through awards and honors, such as the Turing Award, often referred to as the "Nobel Prize of Computing."</p>
                        <p>At its core, ACM is driven by a commitment to advancing the field of computing and promoting its positive impact on society. Whether you are a student, researcher, or practitioner in the field, ACM is a valuable resource for connecting with others and staying up-to-date on the latest developments in computing.</p>
                    </div>
                </div>
            </div>
            <div id="facteam">
                <div class="container">
                    <div style="margin: 2%; padding-bottom: 1%; padding-top: 1%;">
                        <h1>Faculty Team</h1>
                        <div class="pro-container">
                            {% for fac in faculty %}
                                <div class="profile">
                                    <a href="{% url 'profile' fac.user.username %}">
                                        <img src="{{fac.profile_pic.url}}" style="border: 2px solid white;outline: 3px solid rgb(148, 222, 202);">
                                        {% if fac.w_chapter %}<b style="color: rgb(25, 25, 155);">W</b>{% endif %}
                                    </a>
                                    <h4 style="margin-bottom: 2px;">{{fac.name}}</h4>
                                    <p style="margin: 0;">{{fac.core}}</p>
                                    <p style="margin: 0 0 10% 0;">{{fac.role}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="chapter">
                <div class="container">
                    <div style="margin: 2%; padding-bottom: 1%; padding-top: 1%;">
                        <h1>Student Chapter</h1>
                        <div class="pro-container">
                            {% for stu in student %}
                                <div>
                                    <a href="{% url 'profile' stu.user.username %}"><img src="{{stu.profile_pic.url}}" style="border: 2px solid white;outline: 3px solid rgb(148, 222, 202);"></a>
                                    <h4 style="margin: 2px;">{{stu.name}}</h4>
                                    <p style="margin-top: 0;">
                                        {{stu.role}}<br>
                                        {{stu.core}}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="wchapter">
                <div class="container">
                    <div style="margin: 2%; padding-bottom: 1%; padding-top: 1%;">
                        <h1>Women Chapter</h1>
                        <div class="pro-container">
                            {% for stu in wchapter %}
                                <div>
                                    <a href="{% url 'profile' stu.user.username %}"><img src="{{stu.profile_pic.url}}" style="border: 2px solid white;outline: 3px solid rgb(148, 222, 202);"></a>
                                    <h4 style="margin-bottom: 2px;">{{stu.name}}</h4>
                                    <p style="margin: 0;">{{stu.core}}</p>
                                    <p style="margin: 0 0 10% 0;">{{stu.role}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% if alumnis %}
            <div id="alumni" style="margin-bottom: 5%;">
                <div class="container">
                    <div style="margin: 2%; padding-bottom: 1%; padding-top: 1%;">
                        <h1>Our Alumni's</h1>
                        <div class="pro-container">
                            {% for alu in alumnis %}
                                <div>
                                    <a href="{% url 'profile' alu.user.username %}"><img src="{{alu.profile_pic.url}}" style="border: 2px solid white;outline: 3px solid rgb(148, 222, 202);"></a>
                                    <h4 style="margin-bottom: 2px;">{{alu.name}}</h4>
                                    <p style="margin: 0;">{{alu.core}}</p>
                                    <p style="margin: 0 0 10% 0;">{{alu.role}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}