{% extends "main.html" %}

{% block title %}Bytes{% endblock %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'base/css/blogs.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'base/js/blog.js' %}" defer></script>
<script src="{% static 'base/js/blogs.js' %}" defer></script>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="left">
            <div class="blogs-container" id="bytes-container">
                {% for byte, owner in bytes %}
                    <div class="blog">
                        <div class="blog-title-container">
                            <div class="owner">
                                <a href="{% url 'profile' owner.username %}">
                                    <div class="owner-pic">
                                        <img src="{% if owner.student %} {{owner.student.profile_pic.url}} {% else %} {{owner.member.profile_pic.url}} {% endif %}" alt="">
                                    </div>
                                </a>
                                <div class="name">
                                    {% if owner.student %} {{owner.student.name}} {% else %} {{owner.member.name}} {% endif %}<br>
                                    <small>{{owner}}</small>
                                </div>
                            </div>
                            <div class="date">{{byte.created}}</div>
                        </div>
                        <a href="{% url 'byte' byte.id %}">
                            <div class="poster-container">
                                <img src="{{byte.poster.url}}" alt="">
                            </div>
                        </a>
                        <div class="action-icons">
                            <div class="likes" data-id="{{byte.id}}">
                                {% if request.user in byte.likeOwner.all %}
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                {% endif %}
                                <div class="count">{{byte.likes}}</div>
                            </div>
                            <div class="share">
                                <input type="text" value="{{request.get_host}}{% url 'byte' byte.id %}" style="display: none;">
                                <i class="fa fa-share" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="blog-caption-container">
                            <div class="caption">{{byte.byte}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="right">
            <h2>Leaderboard</h2>
            <div class="leaderboard">
                {% for lead in leaderboard %}
                    <div class="blog-title-container">
                        <div class="pos">{{forloop.counter}}</div>
                        <a href="{% url 'profile' lead.owner %}">
                            <div class="owner">
                                {% if lead.owner.student %} {{lead.owner.student.name}} {% else %} {{lead.owner.member.name}} {% endif %}
                            </div>
                        </a>
                        <a href="{% url 'byte' lead.id %}">
                            <div class="owner" style="color: rgb(100, 100, 225);font-size: 10px;">
                                BYTE
                            </div>
                        </a>
                        <div class="likes">{{lead.likes}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    {% if request.user.is_authenticated and request.user.mybytes.count < 3 %}
        <div class="submit upload">Create Byte</div>
        <div class="submit-container">
            <form class="f" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    {% elif not request.user.is_authenticated or request.user.mybytes.count < 3 %}
        <a href="{% url 'login' %}">
            <div class="submit">Signup/Login To participate</div>
        </a>
    {% endif %}
</main>
{% endblock %}