{% extends "main.html" %}

{% block stylesheet %}
<style>
    .form-group {
        display: grid;
        grid-template-columns: 25% 75%;
    }
    .form-group a, .form-group:visited {
        text-decoration: none;
    }
    .form-group a:hover {
        text-decoration: underline;
    }
    .f label {
        margin-left: 2%;
    }
    .f input, .f textarea, .f select {
        border-radius: 10px;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 30px;
        resize: vertical;
        padding-left: 10px;
        margin-bottom: 5px;
    }
    .file input {
        background-color: transparent;
    }
    .confirm {
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div style="max-width: 1200px; margin: auto;">
    <h4 style="text-align: center;">Note: To contact you, we will use your email and Mobile number, please enter correct information.</h4>
    <div style="max-width: 1000px;margin: auto;">
        <div style="padding: 10px; background-color: white; border: 1px solid rgba(0, 0, 0, 0.5);margin: 2%; border-radius: 10px;">
            <h1 style="text-align: center;">Edit Profile</h1>
            <form class="f" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;">
                    <label for="{{ form.year.id_for_label }}">Year:</label>
                    {{ form.year }}
                    <label style="margin-left: 15px;" for="{{ form.year.id_for_label }}">Admission No.:</label>
                    {{ form.admission }}
                </div>
                <div class="form-group" style="display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;">
                    <label for="{{ form.linked_in.id_for_label }}">Linked In:</label>
                    {{ form.linked_in }}
                    <label style="margin-left: 15px;" for="{{ form.github.id_for_label }}">GitHub:</label>
                    {{ form.github }}
                </div>
                <div class="form-group" style="display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;">
                    <label for="{{ form.core.id_for_label }}">Core(Branch):</label>
                    {{ form.core }}
                    <label style="margin-left: 15px;" for="{{ form.mobile_no.id_for_label }}">Mobile No(Kept Private): </label>
                    {{ form.mobile_no }}
                </div>
                <div class="form-group">
                    <label for="{{ form.desc.id_for_label }}">Description:<p id="char-count" style="font-size: 12px;margin-top: 0;"></p></label>
                    {{ form.desc }}
                </div>
                {% if member %}
                <div class="form-group">
                    <label for="{{ form.desc.id_for_label }}">Short Description:<p id="char-count-short" style="font-size: 12px;margin-top: 0;"></p></label>
                    {{ form.short_desc }}
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="{{ form.profile_pic.id_for_label }}">Profile Picture:</label>
                    <div class="file">{{ form.profile_pic }}</div>
                </div>
                <div style="width: 20%; margin: auto;">
                    <button class="confirm" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        var area = document.getElementById("id_desc");
        var count = document.getElementById("char-count");
        
        count.innerHTML = `${area.value.length} / 500`;
        
        area.addEventListener('keyup', function() {
            count.innerHTML = `${area.value.length} / 500`;
        });
        {% if member %}
        var area2 = document.getElementById("id_short_desc");
        var count2 = document.getElementById("char-count-short");
        
        count2.innerHTML = `${area2.value.length} / 120`;
        
        area2.addEventListener('keyup', function() {
            count2.innerHTML = `${area2.value.length} / 120`;
        });
        {% endif %}
    });
</script>
{% endblock %}