{% extends "main.html" %}

{% block title %}Edit profile{% endblock %}

{% block stylesheet %}
<style>
    .outer-container {
        width: 60%;
        margin: auto;
    }
    .form-group {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .form-group a, .form-group:visited {
        text-decoration: none;
    }
    .form-group a:hover {
        text-decoration: underline;
    }
    .f label {
        margin-left: 2%;
    }
    .f input, .f textarea, .f select {
        border-radius: 10px;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
        min-height: 30px;
        resize: vertical;
        padding-left: 10px;
        margin-bottom: 5px;
    }
    .file input {
        background-color: transparent;
    }
    .confirm {
        width: 100%;
    }
    .confirm-btn {
        width: 30%;
        margin: auto;
    }
    @media screen and (max-width:958px) {
        .outer-container {
            width: 95%;
        }
    }
    @media screen and (max-width:500px) {
        .outer-container {
            width: 95%;
            font-size: 12px;
        }
        .outer-container h1 {
            font-size: 20px;
        }
        h4 {
            font-size: 14px;
            margin: 10px;
        }
        .form-group {
            grid-template-columns: 1fr 1fr;
        }
        .f input, .f textarea, .f select {
            min-height: 25px;
            font-size: 12px;
        }
        .f textarea {
            margin-left: -40px;
        }
        .confirm-btn {
            width: 100%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div style="width: 100%;">
    <h4 style="text-align: center;">Note: To contact you, we will use your email and Mobile number, please enter correct information.</h4>
    <div class="outer-container">
        <div style="padding: 10px; padding-top: 0; background-color: white; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 10px;">
            <h1 style="text-align: center;">Edit Profile</h1>
            <form class="f" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.year.id_for_label }}">Year:</label>
                    {{ form.year }}
                    <label for="{{ form.year.id_for_label }}">Admission No.:</label>
                    {{ form.admission }}
                </div>
                <div class="form-group">
                    <label for="{{ form.linked_in.id_for_label }}">Linked In:</label>
                    {{ form.linked_in }}
                    <label for="{{ form.github.id_for_label }}">GitHub:</label>
                    {{ form.github }}
                </div>
                <div class="form-group">
                    <label for="{{ form.core.id_for_label }}">Core(Branch):</label>
                    {{ form.core }}
                    <label for="{{ form.mobile_no.id_for_label }}">Mobile No(Kept Private): </label>
                    {{ form.mobile_no }}
                </div>
                <div class="form-group">
                    <label for="{{ form.desc.id_for_label }}">Description:<p id="char-count" style="font-size: 12px;margin-top: 0;"></p></label>
                    {{ form.desc }}
                </div>
                {% if member %}
                <div class="form-group">
                    <label for="{{ form.desc.id_for_label }}">Short Description:<p id="char-count-short" style="font-size: 12px;margin-top: 0;"></p></label>
                    {{ form.short_desc }}
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="{{ form.profile_pic.id_for_label }}">Profile Picture:</label>
                    <div class="file">{{ form.profile_pic }}</div>
                </div>
                <div class="confirm-btn">
                    <button class="confirm" type="submit">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        var area = document.getElementById("id_desc");
        var count = document.getElementById("char-count");
        
        count.innerHTML = `${area.value.length} / 500`;
        
        area.addEventListener('keyup', function() {
            count.innerHTML = `${area.value.length} / 500`;
        });
        {% if member %}
        var area2 = document.getElementById("id_short_desc");
        var count2 = document.getElementById("char-count-short");
        
        count2.innerHTML = `${area2.value.length} / 120`;
        
        area2.addEventListener('keyup', function() {
            count2.innerHTML = `${area2.value.length} / 120`;
        });
        {% endif %}
    });
</script>
{% endblock %}