{% extends "main.html" %}

{% block title %}{{event.name}}{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'base/css/event.css' %}">
{% endblock %}

{% block content %}
<div class="event-container">
    <div style="position: relative;">
        <div class="event">
            <h2 style="margin-bottom: 0 ;">
                {{event.name}}
            </h2>
            <div class="poster-container">
                <img src="{{event.image.url}}" width="100%" height="100%"/>
            </div>
            <div style="font-weight: bold;text-align: left; font-size: 18px; margin: auto;">
                <div style="display: flex;">
                    <div>Date:<br>Time:<br>Location:<br>{% if event.ongoing %}Fee: <br>{% endif %}
                        {% if event.coordinator.all %}
                            Coordinators:
                        {% endif %}
                    </div>
                    <div style="font-weight: normal; margin-left: 5px;">
                        {{event.event_date.date}}<br>{{event.event_date.time}}<br>{{event.location}}<br>
                        {% if event.ongoing %}
                            {% if event.fee == '0' %}
                                <div style="color: rgb(49, 89, 79);">FREE ENTRY</div>
                            {% else %}
                                {{event.fee}}
                            {% endif %}
                        {% endif %}
                        {% for coo in event.coordinator.all %}
                            <div style="width: 25px;height: 25px;">
                                <a href="{% url 'profile' coo.user %}" style="width: fit-content;">
                                    <img style="border-radius: 50%;" src="{{coo.profile_pic.url}}" width="100%">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div style="margin-top: auto; margin-bottom: 5%;">
                {% if member %}
                    <a href="{% url 'event_detail' event.name %}" style="text-decoration: none;">
                        <button class="register">See event details</button>
                    </a>
                {% elif not event.ongoing %}
                    <h3 class="register">Registrations Closed</h3>
                {% elif registered %}
                    {% if event.team_members > 1 %}
                        <a href="{% url 'viewteam' event.name %}" style="text-decoration: none;">
                            <button class="register">View Team</button>
                        </a>
                    {% else %}
                        <button class="register">Registered</button>
                    {% endif %}
                {% elif event.team_members == 1 %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="register" class="register">Quick Register</button>
                </form>
                {% else %}
                <a href="{% url 'register' event.name 'join' %}" style="text-decoration: none;">
                    <button class="register" style="width: 30%;">Join Team</button>
                </a>
                <a href="{% url 'register' event.name 'create' %}" style="text-decoration: none;">
                    <button class="register" style="margin-top: 0;width: 30%;">Create Team</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div style="overflow-y: auto;">
        {% if photos %}
        <div class="images-container">
            <label class="slider">
                {% for photo in event.photos.all %}
                    <div class="slide">
                        <div style="width: 300px;height: 300px;margin: auto;margin-top: 5px;margin-bottom: 5px;">
                            <img style="object-fit: contain; filter: drop-shadow(0 0 5px gray);" src="{{photo.image.url}}" width="100%" height="100%"/>
                        </div>
                    </div>
                {% endfor %}
            </label>
            <button class="btn btn-next">></button>
            <button class="btn btn-prev"><</button>
        </div>
        {% endif %}
        <div class="details">
            <h3>Description</h3>
            <p>{{event.description}}</p>
            {{event.details|safe}}
        </div>
    </div>
</div>

{% endblock %} 

{% block script %}
<script src="{% static 'base/js/event.js' %}" defer></script>
{% endblock %}