{% extends 'main.html' %}

{% block stylesheet %}
<style>
    .f {
        display: flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        width: 60%;
        margin: auto;
    }
    .f input {
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.5);
        padding: 5px;
        font-family: 'Inria Sanse', sans-serif;
    }
    .heading {
        font-size: 18px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .f button {
        width: 10%;
        border-radius: 5px;
        margin-left: 5px
    }
    .tvalues {
        margin-top: 5px;
        height: 30px;
        border-bottom: 1px solid black;
    }
</style>
{% endblock %}

{% block content %}
<div style="height: calc(100% - 50px); max-width: 1200px; margin: auto; overflow-y: auto;">
    <div style="margin: 3%;">
        <form class="f" method="GET">
            <input type="text" placeholder="Search teams or participants..." name="q" value="{{search}}" style="width: 80%;">
            <button type="submit" name="search" class="more">Search</button>
            <button type="submit" name="clear" class="more">Clear</button>
        </form>
    </div>
    <div style="background-color: white;border: 1px solid rgba(0, 0, 0, 0.5);border-radius: 10px; margin-bottom: 5%;">
        <div style="margin-left: 5%;">
            <h2>Participation</h2>
            <div style="margin-bottom: 10px;">
                {% if team %}Teams: {{values.count}}<br>Total count: {{event.participants.count}}
                {% else %}Total: {{values.count}}{% endif %}
            </div>
        </div>
        <div style="display: grid; grid-template-columns:{% if team %} 0.5fr 2fr 2fr 2fr 2fr  {% else %} 1fr 2fr 2fr 2fr {% endif %}; margin: 0 5% 0 5%; text-align: center; margin-bottom: 3%;">
            {% if team %}
            <div class="heading"></div>
            <div class="heading">Team Name</div>
            <div class="heading">Leader Name</div>
            <div class="heading">Leader Admission id</div>
            <div class="heading">Leader Mobile</div>
            {% else %}
            <div class="heading"></div>
            <div class="heading">Name</div>
            <div class="heading">Admission id</div>
            <div class="heading">Mobile</div>
            {% endif %}
            {% if values %}
                {% for part in values %}
                    {% if team %}
                    <div class="tvalues">{{forloop.counter}}</div>
                    <div class="tvalues">{{part.team_name}}</div>
                    <div class="tvalues">{{part.leaders.all.first.name}}</div>
                    <div class="tvalues">{{part.leaders.all.first.admission}}</div>
                    <div class="tvalues">{{part.leaders.all.first.mobile_no}}</div>
                    {% else %}
                    <div class="tvalues">{{forloop.counter}}</div>
                    <a href="{% url 'profile' part.user %}" class="tvalues">{{part.name}}</a>
                    <div class="tvalues">{{part.admission}}</div>
                    <div class="tvalues">{{part.mobile_no}}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        {% if not values %}
        <h4 style="text-align: center;">No registrations</h4>
        {% endif %}
    </div>
</div>
{% endblock %}