{% extends "main.html" %}

{% block stylesheet %}
<style>
    .event {
        display: grid;
        margin-bottom: 1%;
        margin-right: 1%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    }
    .f {
        display: flex;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }
    .f input {
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.5);
        padding: 5px;
        font-family: 'Inria Sanse', sans-serif;
    }
    .more {
        width: 100%;
        padding: 1%;
        border-radius: 10px;
        color: black;
        border: none;
        transition: all 0.15s;
        font-family: 'Inria Sans', sans-serif;
        background-color: white;
    }
    .more:hover {
        text-decoration: underline;
        background-color: rgba(210, 233, 227, 0.6);
    }
    .more:active {
        text-decoration: underline;
        background-color: rgba(210, 233, 227, 0.8);
    }
    .image {
        position: absolute;
        left: 100%;
        top: 0;
    }
    .hov {
        display: inline;
        position: relative;
    }
    .image div {
        background-color: rgba(0,0,0,0.5);
        object-fit: contain;
        display: none;
        height: 150px;
        width: 150px;
        padding: 2px;
        z-index: 1;
        margin-left: 10px;
        transition: all 0.2s;
    }
    .hov:hover .image div {
        display: block;
    }
    .image div:hover {
        transform: scale(1.5);
    }
</style>
{% endblock %}

{% block content %}
<div style="height: calc(100% - 50px); width: 80%; margin: auto;overflow-y: auto;">
    <div style="margin: 3%;">
        <form class="f" method="GET">
            <input type="text" placeholder="Search events..." name="q" value="{{search}}" style="width: 50%;">
            <label>Start:</label>
            <input type="date" name="start" value="{{start}}">
            <label>End:</label>
            <input type="date" value="{{end}}" name="end">
            <input type="submit" value="Search" name="search" class="more" style="width: fit-content;">
            <input type="submit" value="Clear" name="clear" class="more" style="width: fit-content;">
        </form>
    </div>
    <div style="display: grid;grid-template-columns: 20% 80%;">
        <div style="display: grid;height: fit-content;">
            <a href="{% url 'events' %}?q=" style="color: black; text-decoration: none;margin: 2px;">All({{total}})</a>
            {% for tag in tags %}
            <a href="{% url 'events' %}?q={{tag.name}}" style="color: black; text-decoration: none;margin: 2px;">{{tag}}({{tag.related_events}})</a>
            {% endfor %}
        </div>
        <div>
        {% if events %}
        {% for event in events %}
        <div class="event">
            <div style="margin: 2%;">
                <a href="{% url 'event' event.name %}" style="color: black;">
                    <h2 class="hov">
                        {{event.name}}
                        <div class="image">
                            <div>
                                <img src="/{{event.image}}" style="object-fit: contain;" alt="event poster" width="100%" height="100%">
                            </div>
                        </div>
                    </h2>
                </a>
                <div>{{event.event_date.date}}</div>
                <p>{{event.description}}</p>
                <div style="font-size: 14px;">{% for tag in event.tag.all %}{% if not forloop.last %}{{tag}}, {% else %}{{tag}}{% endif %}{% endfor %}</div>
            </div>
        </div>
        {% endfor %}
        {% if left %}
        <form method="GET" style="margin: auto;margin-bottom: 50px;margin-top: 20px;width: 30%;">
            <input type="hidden" name="events" value="{{shown|add:5}}">
            {% if search %}
            <input type="hidden" name="q" value="{{search}}">
            <input type="hidden" name="start" value="{{start}}">
            <input type="hidden" name="end" value="{{end}}">
            {% endif %}
            <input class="more" type="submit" name="more" value="Load More Events">
        </form>
        {% endif %}
        {% else %}
        <div style="text-align: center;">
            <img src="/images/icons/no result.png" width="20%"/>
            <p>No results to show</p>
            <p>Please modify your search</p>
        </div>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}