{% extends "main.html" %}

{% block stylesheet %}
<style>
    .event-container {
        display: grid;
        max-width: 1200px;
        margin: auto;
        height: calc(100% - 50px);
        grid-template-columns: 40% 60%;
    }
    .event {
        text-align: center;
        height: 95%;
        display: flex;
        position: absolute;
        flex-direction: column;
        margin: auto;
        margin-left: 10px;
        left:0; right:0;
        top:0; bottom:0;
        border-radius: 8px;
        background-color: white;
        border: 3px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.5);
    }
    .image-container {
        text-align: center;
        margin: auto;
        height: 60%;
        transition: all 0.15s;
    }
    .image-container img {
        border-radius: 10px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    }
    .details p, .details h3 {
        margin-top: 0px;
        padding: 10px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        margin: 2%;
        background-color: white;
    }
    .register {
        margin: auto;
        margin-top: 5%;
        width: 50%;
        padding: 1%;
        border-radius: 10px;
        color: black;
        border: 2px solid rgba(0, 0, 0, 0.5);
        transition: all 0.15s;
        font-family: 'Inria Sans', sans-serif;
        font-size: 18px;
        font-weight: bold;
        background-color: white;
    }
    .register:hover {
        text-decoration: underline;
        background-color: rgba(210, 233, 227, 0.6);
    }
    .register:active {
        text-decoration: underline;
        background-color: rgba(210, 233, 227, 0.8);
    }
    {% if photos %}
    .images-container {
        height: 45%;
        margin-left: 3%;
        margin-right: 3%;
        position: relative;
    }
    {% endif %}
    .slider {
        position: relative;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 2%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
    }
    .slide {
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        position: absolute;
        transition: all 0.5s;
    }
    .btn {
        position: absolute;
        width: 40px;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 50%;
        z-index: 10px;
        cursor: pointer;
        background-color: #fff;
        font-size: 18px;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
    .btn:hover {
        transform: scale(1.1);
    }
    .btn-prev {
        top: 45%;
        left: 2%;
    }
    .btn-next {
        top: 45%;
        right: 2%;
    }
</style>
{% endblock %}

{% block content %}
<div class="event-container">
    <div style="position: relative;">
        <div class="event">
            <h2 style="margin-bottom: 0 ;">
                {{event.name}}
            </h2>
            <div class="image-container">
                <img style="object-fit: contain;" src="/{{event.image}}" width="100%" height="100%"/>
            </div>
            <div style="font-weight: bold;text-align: left; font-size: 18px; margin: auto;">
                <div style="display: flex;">
                    <div>Date:<br>Time:<br>Location:<br>
                        {% if event.coordinator.all %}
                            Coordinators:
                        {% endif %}
                    </div>
                    <div style="font-weight: normal; margin-left: 5px;">
                        {{event.event_date.date}}<br>{{event.event_date.time}}<br>{{event.location}}<br>
                        {% for coo in event.coordinator.all %} {{coo.name}}<br> {% endfor %}
                    </div>
                </div>
            </div>
            <div style="margin-top: auto; margin-bottom: 5%;">
                {% if member %}
                    <a href="{% url 'event_detail' event.name %}" style="text-decoration: none;">
                        <h3 class="register">See event details</h3>
                    </a>
                {% elif not event.ongoing %}
                    <h3 class="register">Registrations Closed</h3>
                {% elif registered %}
                    {% if event.team_members > 1 %}
                        <a href="{% url 'viewteam' event.name %}" style="text-decoration: none;">
                            <h3 class="register">View Team</h3>
                        </a>
                    {% else %}
                        <h3 class="register">Registered</h3>
                    {% endif %}
                {% elif event.team_members == 1 %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" name="register" value="Quick Register" class="register"/>
                </form>
                {% else %}
                <a href="{% url 'register' event.name 'join' %}" style="text-decoration: none;">
                    <span class="register">Join Team</span>
                </a>
                <a href="{% url 'register' event.name 'create' %}" style="text-decoration: none;">
                    <span class="register">Create Team</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div style="overflow-y: auto;">
        {% if photos %}
        <div class="images-container">
            <label class="slider">
                {% for photo in event.photos.all %}
                    <div class="slide">
                        <div style="width: 300px;height: 300px;margin: auto;margin-top: 5px;margin-bottom: 5px;">
                            <img style="object-fit: contain; filter: drop-shadow(0 0 5px gray);" src="/{{photo.image}}" width="100%" height="100%"/>
                        </div>
                    </div>
                {% endfor %}
            </label>
            <button class="btn btn-next">></button>
            <button class="btn btn-prev"><</button>
        </div>
        {% endif %}
        <div class="details">
            {{event.details|safe}}
        </div>
    </div>
</div>

{% endblock %} 

{% block script %}
<script>
    const slides = document.querySelectorAll(".slide");
    let maxSlide = slides.length - 1;
    let curSlide = Math.floor(maxSlide / 2);
    let timeId;

    function arrange() {
        slides.forEach((slide, i) => {
            var pos = i - curSlide;
            slide.setAttribute("style", `transform:translateX(${pos * 40}%) scale(${1 - 0.3 * Math.abs(pos)});z-index:${10 - Math.abs(pos)};`);
        });
    }
    
    function startLoop(auto) {
        clearTimeout(timeId);
        if (auto === 1) {
            if (curSlide === maxSlide) {
                curSlide = 0;
            } else {
                curSlide++;
            }
        }
        arrange();
        timeId = setTimeout(function() {startLoop(1)}, 5000);
    }
    
    const nextslide = document.querySelector(".btn-next");
    nextslide.addEventListener("click", function () {
        if (curSlide === maxSlide) {
            curSlide = 0;
        } else {
            curSlide++;
        }
        startLoop(0);
    });
    
    const prevslide = document.querySelector(".btn-prev");
    prevslide.addEventListener("click", function () {
        if (curSlide === 0) {
            curSlide = maxSlide;
        } else {
            curSlide--;
        }
        startLoop(0);
    });

    startLoop(0);
</script>
{% endblock %}