{% extends "main.html" %}

{% block title %}{{event.name}}{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'base/css/event.css' %}">
{% endblock %}

{% block content %}
<div class="event-container">
    <div class="poster-plane">
        <div class="event">
            <h2>
                {{event.name}}
            </h2>
            <div class="poster-container">
                <img src="{{event.image.url}}" width="100%" height="100%"/>
            </div>
            <div class="event-info">
                <div style="display: grid;grid-template-columns: 10% 40% 50%;">
                    <span style="text-align: center;">
                        <i class="fa fa-calendar" aria-hidden="true"></i><br>
                        <i class="fa fa-clock-o" aria-hidden="true"></i><br>
                        <i class="fa fa-map-marker" aria-hidden="true"></i><br>
                        {% if event.ongoing %}
                        <i class="fa fa-money" aria-hidden="true"></i><br>
                        {% endif %}
                        {% if event.coordinator.all %}
                        <i class="fa fa-users" aria-hidden="true"></i>
                        {% endif %}
                    </span>
                    <span>
                        Date:<br>
                        Time:<br>
                        Location:<br>
                        {% if event.ongoing %}
                        Fee: <br>
                        {% endif %}
                        {% if event.coordinator.all %}
                            Coordinators:
                        {% endif %}
                    </span>
                    <span style="font-weight: normal; margin-left: 15px;">
                        {{event.event_date.date}}<br>{{event.event_date.time}}<br>{{event.location}}<br>
                        {% if event.ongoing %}
                            {% if event.fee == '0' %}
                                <div style="background-color: #d0ded8;color: rgba(0,0,0,0.8);width: fit-content;padding: 0 10px;border-radius: 10px;">FREE ENTRY</div>
                            {% else %}
                                {{event.fee}}
                            {% endif %}
                        {% endif %}
                        {% for coo in event.coordinator.all %}
                        <div class="coordinator-event" style="width: clamp(25px, 3vw, 30px);height: clamp(25px, 3vw, 30px);border-radius: 50%;">
                            <a href="{% url 'profile' coo.user %}" style="width: 100%;">
                                <img style="border-radius: 50%;aspect-ratio: 1;object-fit: cover;margin-right: 4px;" src="{{coo.profile_pic.url}}" width="100%">
                            </a>
                        </div>
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div style="margin-bottom: 5%;">
                {% if member %}
                    <a href="{% url 'event_detail' event.name %}" style="text-decoration: none;">
                        <button class="register">See event details</button>
                    </a>
                {% elif not event.ongoing %}
                    <h3 class="register">Registrations Closed</h3>
                {% elif registered %}
                    {% if event.team_members > 1 %}
                        <a href="{% url 'viewteam' event.name %}" style="text-decoration: none;">
                            <button class="register">View Team</button>
                        </a>
                    {% else %}
                        <button class="register">Registered</button>
                    {% endif %}
                {% elif event.team_members == 1 %}
                    {% if meta %}
                        <button type="submit" name="register" class="register enable-overlay">Register</button>
                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" name="register" class="register">Quick Register</button>
                        </form>
                    {% endif %}
                {% else %}
                <a href="{% url 'register' event.name 'join' %}" style="text-decoration: none;">
                    <button class="register team">Join Team</button>
                </a>
                <a href="{% url 'register' event.name 'create' %}" style="text-decoration: none;">
                    <button class="register team">Create Team</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="right-plane">
        {% if photos %}
        <div class="images-container">
            <label class="slider">
                {% for photo in event.photos.all %}
                    <div class="slide">
                        <div class="event-images-container">
                            <img style="object-fit: contain; filter: drop-shadow(0 0 5px gray);" src="{{photo.image.url}}" width="100%" height="100%"/>
                        </div>
                    </div>
                {% endfor %}
            </label>
            <button class="btn btn-next">></button>
            <button class="btn btn-prev"><</button>
        </div>
        {% endif %}
        <div class="details">
            <h3>Description</h3>
            <p>{{event.description}}</p>
            {{event.details|safe}}
        </div>
    </div>
    {% if meta and not registered %}
    <div class="overlay">
        <div class="overlay-child">
            <form method="POST" onsubmit="return validateRegister()">
                {% csrf_token %}
                {% for question in meta %}
                <div class="question-container">
                    <div class="question">Q {{forloop.counter}})<b> {{question.question}}</b></div>
                    <input type="hidden" name="{{question.id}}" id="{{forloop.counter}}">
                    <div class="options">
                    {% for option in question.options %}
                        <div class="option" id="">{{option}}</div>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <div style="width: max-content;margin: auto;">
                    <button type="submit" name="register" class="register" style="width: max-content;padding: 5px 20px;">Register</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %} 

{% block script %}
<script src="{% static 'base/js/event.js' %}" defer></script>
{% endblock %}