{% extends "main.html" %}

{% block title %}Events{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'base/css/events.css' %}">
{% endblock %}

{% block content %}
<div class="outer-container">
    <div class="search-container">
        <form id="event-search-form" class="f" method="GET" onsubmit="return validateSearch('event-search-form', 'search-bar-events') || document.getElementById('from').value && document.getElementById('from').value != 'mm/dd/yy'">
            <div class="event-search-container">
                <input type="text" placeholder="Search events..." id="search-bar-events" name="q" value="{{search}}">
                <button type="button" onclick="clearinput('search-bar-events')" style="float: left;"><i class="fa fa-times"></i></button>
                <button type="submit" name="s" style="border-radius: 0 5px 5px 0;"><i class="fa fa-search"></i></button>
            </div>
            <div class="year-container">
                <label>Year:</label>
                <select id="year" name="year">
                    {% if year %}<option value="{{year}}" selected disabled hidden>{{year}}</option>{% endif %}
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                </select>
                <button type="button" onclick="window.location.href='{% url 'events' %}';" style="width: fit-content; border-radius: 5px;border: 1px solid rgba(0, 0, 0, 0.2);">Clear All</button>
            </div>
        </form>
    </div>
    <div class="search-result-container">
        <div class="tags-container">
            <a class="tag" href="{% url 'events' %}?q=">All({{total}})</a>
            {% for tag in tags %}
            <a class="tag" href="{% url 'events' %}?q={{tag.name}}">{{tag}} ({{tag.related_events}})</a>
            {% endfor %}
        </div>
        {% if events %}
        <div class="events-container">
            <div id="events">
                {% for event in events %}
                    <div class="event">
                        <div style="margin: 2%;">
                            <a href="{% url 'event' event.name %}" style="color: black;">
                                <h2 class="hov">
                                    {{event.name}}
                                    <div class="image">
                                        <div>
                                            <img src="{{event.image.url}}" style="object-fit: contain;" alt="event poster" width="100%" height="100%">
                                        </div>
                                    </div>
                                </h2>
                            </a>
                            <div class="event-date">{{event.event_date.date|date:"j M Y"}}</div>
                            <p>{{event.description}}</p>
                            {% if event.tag.all %}
                            <div class="event-tags">
                                {% for tag in event.tag.all %}
                                <div class="event-tag" style="background-color: {{tag.tag_bg_color}};"><a href="{% url 'events' %}?q={{tag.name}}" style="color:{{tag.tag_text_color}};">{{tag}}</a></div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if left %}
            <div id="load-more-container" style="margin: auto;margin-bottom: 50px;margin-top: 20px;width: 30%;">
                <input class="more" type="button" id="load-more" onclick="load()" value="Load More Events">
            </div>
            {% endif %}
        </div>
        {% else %}
        <div style="text-align: center;">
            <img src="media/icons/no result.png" width="20%"/>
            <p>No results to show</p>
            <p>Please modify your search</p>
        </div>
        {% endif %}
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-circle-up"></i></button>
{% endblock %}

{% block script %}
<script src="{% static 'base/js/events.js' %}" defer></script>
{% endblock %}