{% extends "main.html" %}

{% block title %}Welcome to ACM ABES{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'base/css/home.css' %}">
{% endblock %}

{% block content %}
<div>
    <div class="welcome-container">
        <label class="slider">
            <div class="slide">
                <div class="welcome-inner-main">
                    <div style="text-align: center;height: calc(80vh);">
                        <img src="/media/images/blue-gray-circle.png" style="object-fit: contain; width: 80%; height: 100%;">
                    </div>
                    <div>
                        <h2>Welcome to ABES Engineering college's ACM chapter</h2>
                        <p>Association of computing machine is a US-based international learned society for computing which ensures opportunities and mentoring to students for better exposure.</p>
                        <div class="welcome-team-image">
                            <img src="/media/images/acmteam-22-23.jpeg" alt="acmteam-22-23" style="object-fit: contain;width: 100%;height: 100%;">
                        </div>
                        <p>ACM in collaboration with ABES EC has two student chapter ACM and ACM W. The club run along with department of CS is a technical club which has conducted various events such as National Virtual Hackathon, hour of code etc. Which provided various students to come forward, gave them the platform to learn and enrich from experience. Acm will soon be recruiting . STAY TUNED AND BE THE PART OF THE ELITE CLUB.</p>
                    </div>
                </div>
            </div>
            {% for article in news %}
            <div class="slide">
                <div style="height: 100%;width: 100%;">
                    <img src="{{article.image.url}}" style="object-fit: cover; width: 100%; height: 100%;">
                </div>
                <div class="moving-news-content">
                    <h2>{{article}}</h2>
                    <p>
                        Date: {{article.created.date}}
                    </p>
                    <p>{{article.desc}}</p>
                </div>
                <div style="z-index: 1; height: 100%;width: 100%;position: absolute;bottom: 0; background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);"></div>
            </div>
            {% endfor %}
        </label>
        <button class="btn btn-next">></button>
        <button class="btn btn-prev"><</button>
    </div>
    <div class="main">
        <div class="right-pane">
            {% if ongoing %}
            <h1>Ongoing Events</h1>
            <div class="home-event-container">
                {% for event in ongoing %}
                <div class="event" >
                    <div class="new">
                        NEW
                    </div>
                    <div class="image-container">
                        <a href="{% url 'event' event.name %}">
                            <img src="{{event.image.url}}"/>
                        </a>
                    </div>
                    <div class="event-body">
                        <h3 style="margin: 0;">
                            {{event.name}}
                        </h3>
                        <div>
                            Date: {{event.event_date}}
                            {% if event.coordinator.all %}
                            <div style="display: flex;">
                                Coordinators:
                                {% for coo in event.coordinator.all %}
                                <div style="width: 25px;height: 25px;">
                                    <a href="{% url 'profile' coo.user %}" style="width: 100%;">
                                        <img style="border-radius: 50%;aspect-ratio: 1;" src="{{coo.profile_pic.url}}" width="100%">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <h1>Latest Events</h1>
            <div class="home-event-container">
                {% for event in other %}
                <div class="event" >
                    <div class="image-container">
                        <a href="{% url 'event' event.name %}">
                            <img src="{{event.image.url}}"/>
                        </a>
                    </div>
                    <div class="event-body">
                        <h3 style="margin: 0;">
                            {{event.name}}
                        </h3>
                        <div>
                            Date: {{event.event_date}}
                            {% if event.coordinator.all %}
                            <div style="display: flex;">
                                Coordinators:
                                {% for coo in event.coordinator.all %}
                                <div style="width: 25px;height: 25px;">
                                    <a href="{% url 'profile' coo.user %}" style="width: 100%;">
                                        <img style="border-radius: 50%;aspect-ratio: 1;" src="{{coo.profile_pic.url}}" width="100%">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'base/js/home.js' %}" defer></script>
{% endblock %}