{% extends "main.html" %}

{% block stylesheet %}
<style>
    .main {
        width: 100%;
        min-width: 1200px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .f {
        margin: 5%;
        margin-bottom: 10px;
        margin-top: 0;
        display: grid;
    }
    .f label {
        margin-left: 2%;
    }
    .f input {
        border-radius: 10px;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
        height: 30px;
        padding-left: 10px;
        margin-bottom: 5px;
    }
</style>
{% endblock %}

{% block content %}
<div class="main">
    <h1 style="text-align: center;">{{event.name}}</h1>
    <div style="border: 1px solid rgba(0, 0, 0, 0.5);background-color: white;max-width: 600px; border-radius: 10px;margin: auto;">
        {%if error%}<h4 style="color: red; text-align: center;">{{error}}</h4>{% endif %}
        <h2 style="text-align: center;">Register</h2>
        <form class="f" method="POST" action="">
            {% csrf_token %}
            {% if join %}
                <label>Enter Team id</label>
                <input type="text" name="team_id" placeholder="Enter Team ID:"/>
            {% else %}
                <label>Your Team name</label>
                <input type="text" name="team_name" placeholder="Enter Team Name:"/>
            {% endif %}
            <label>Your email (updates will be sent on this)</label>
            <input type="text" name="email" placeholder="Enter email:" value="{{user.email}}" style="cursor: no-drop;" readonly/>
            
            <label>Your Admission</label>
            <input type="text" name="admission" placeholder="Enter Admission id:" value="{{user.admission}}" style="cursor: no-drop;" readonly/>
            
            <div style="width: 30%;margin: auto; margin-top: 10px;">
                <button style="width: 100%;" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}