{% extends "main.html" %}

{% block title %}Register - {{event.name}}{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'base/css/register.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="register-container">
        <h1 style="text-align: center;">{{event.name}}</h1>
        {%if error%}<h4 style="color: red; text-align: center;">{{error}}</h4>{% endif %}
        <h2 style="text-align: center;">{% if join %}Join Team{% else %}Create Team{% endif %}</h2>
        <form class="f" method="POST" action="">
            {% csrf_token %}
            {% if join %}
                <label>Enter Team id</label>
                <input type="text" name="team_id" placeholder="Enter Team ID:"/>
            {% else %}
                <label>Your Team name</label>
                <input type="text" name="team_name" placeholder="Enter Team Name:"/>
            {% endif %}
            <label>Your email (updates will be sent on this)</label>
            <input type="text" name="email" placeholder="Enter email:" value="{{user.email}}" style="cursor: no-drop;" disabled/>
            
            <label>Your Admission</label>
            <input type="text" name="admission" placeholder="Enter Admission id:" value="{{user.admission}}" style="cursor: no-drop;" disabled/>
            
            <div style="width: 30%;margin: auto; margin-top: 10px;">
                <button style="width: 100%;" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}