{% extends "main.html" %}

{% block stylesheet %}
<style>
    .main {
        width: 50%;
        height: 50%;
        margin: auto;
    }
    .f {
        margin: 5%;
        margin-bottom: 2%;
        margin-top: 0;
    }
    .f label {
        margin-left: 2%;
    }
    .f input {
        border-radius: 10px;
        border: none;
        width: 95%;
        background-color: rgba(0, 0, 0, 0.1);
        height: 30px;
        padding-left: 10px;
        margin-bottom: 5px;
    }
    .f h5 {
        margin: 0;
        color: red;
    }
</style>
{% endblock %}

{% block content %}


<div class="main">
    <div style="background-color: white; border: 1px solid rgba(0, 0, 0, 0.5);width: 50%;min-width: 600px; border-radius: 10px;position: absolute;top: 50%;transform: translateY(-50%);">
        {% if req %}
        <h1 style="text-align: center;">Enter Email</h1>
        {% if messages %}
        <ul class="messages">
            {% for msg in messages %}
            <li>
                {{msg}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form class="f" method="POST">
            {% csrf_token %}
            <div style="display: grid; grid-template-columns: 40% 60%;">
                <label>Enter your email:</label>
                <input type="text" name="email" placeholder="Enter email:" required/>
            </div>
            <div style="display: flex; margin: auto; width: 40%; margin-top: 2%;justify-content: space-between;">
                <input type="submit" value="Submit" style="width: 30%;"/>
                <a href="{% url 'login' %}">Go to login?</a>
            </div>
        </form>
        {% endif %}
        {% if email_sent %}
        <h1 style="text-align: center;">Email Sent</h1>
        <div style="text-align: center;margin-bottom: 10px;">Please check your email to update your password</div>
        {% endif %}
        {% if reset %}
        <h1 style="text-align: center;">Change Password</h1>
        <form class="f" method="POST">
            {% csrf_token %}
            <div style="display: grid; grid-template-columns: 40% 60%;">
                {% if errors %}
                    <div></div>
                    <ul class="messages" style="margin: 0; padding-left: 10px;">
                        {% for error in errors %}
                        <li>
                            <h5>{{error}}</h5>
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <label>New Password:</label>
                <input type="password" name="pass" placeholder="Enter password:" required/>
                <label>Confirm Password:</label>
                <input type="password" name="cpass" placeholder="Confirm password:" required/>
            </div>
            <div style="display: flex; margin: auto; width: 40%; margin-top: 2%;justify-content: space-between;">
                <input type="submit" value="Change Password" style="width: 30%;"/>
                <a href="{% url 'login' %}">Go to login?</a>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

