{% extends "main.html" %}

{% block title %}ACM Team{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'base/css/team.css' %}">
{% endblock %}

{% block content %}
<div style="height: calc(100% - 50px); display: flex;">
    <div class="main-container">
        {% if wchapter and student %}
        <div style="width: 50%;margin: 50px auto; display: grid;grid-template-columns: 1fr 1fr;column-gap: 20px;">
            <a href="{% url 'studentchapter' %}">
                <button style="width: 100%;">Student Chapter</button>
            </a>
            <a href="{% url 'wchapter' %}">
                <button style="width: 100%;">W Chapter</button>
            </a>
        </div>
        {% endif %}
        {% if student %}
        <div class="stu-container">
            <div style="margin: 1%;">
                <h1 style="margin-left: 2%;">ACM Student Chapter</h1>
                <div class="pro-container">
                    {% for stu in student %}
                    <div class="pro">
                        <a href="{% url 'profile' stu.user.username %}" style="text-align: center;height: 100%;">
                            <span class="helper"></span>
                            <img src="{{stu.profile_pic.url}}" style="border: 2px solid white;outline: 4px solid rgb(148, 222, 202);">
                        </a>
                        <div style="margin-left: 2%;">
                            <h2 style="margin-bottom: 2px;">{{stu.name}}</h2>
                            <span>{{stu.core}}<br>
                                {{stu.role}}<br>
                                {{stu.year}}
                            </span>
                        </div>
                        <div class="desc">
                            <p style="margin: 5%;">{{stu.short_desc}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if wchapter %}
        <div class="stu-container">
            <div style="margin: 1%;">
                <h1 style="margin-left: 2%;">ACM Women Chapter</h1>
                <div class="pro-container">
                    {% for stu in wchapter %}
                    <div class="pro">
                        <a href="{% url 'profile' stu.user.username %}" style="text-align: center;height: 100%;">
                            <span class="helper"></span>
                            <img src="{{stu.profile_pic.url}}" style="border: 2px solid white;outline: 4px solid rgb(148, 222, 202);">
                        </a>
                        <div style="margin-left: 2%;">
                            <h3 style="margin-bottom: 2px;">{{stu.name}}</h3>
                            <span>{{stu.core}}<br>
                                {{stu.role}}<br>
                                {{stu.year}}
                            </span>
                        </div>
                        <div class="desc">
                            <p style="margin: 5%;">{{stu.short_desc}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}