{% extends "main.html" %}

{% block title %}ACM Team{% endblock %}

{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'base/css/team.css' %}">
{% endblock %}

{% block content %}
<div style="height: calc(100% - 50px); display: flex;">
    <div class="main-container">
        <div class="stu-container">
            <div style="margin: 1%;">
                <h1 style="margin-left: 2%;">ACM Student Chapter</h1>
                <div class="pro-container">
                    {% for stu in student %}
                    <div class="pro">
                        <a href="{% url 'profile' stu.user.username %}" style="text-align: center;height: 100%;">
                            <span class="helper"></span>
                            <img src="{{stu.profile_pic.url}}" style="border: 3px solid {% if stu.year == '3rd' %} gold {% elif stu.year == '2nd' %} silver {% else %} brown {% endif %};">
                        </a>
                        <div style="margin-left: 2%;">
                            <h2 style="margin-bottom: 2px;">{{stu.name}}</h2>
                            <span>{{stu.core}}<br>
                                {{stu.role}}<br>
                                {% if stu.year != 'other' %}
                                {% with ''|center:stu.year.0 as range %}
                                {% for _ in range %}{{ '|' }}{% endfor %}
                                {% endwith %}
                                {% else %}
                                {{stu.year}}
                                {% endif %}
                            </span>
                        </div>
                        <div class="desc">
                            <p style="margin: 5%;">{{stu.short_desc}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="stu-container">
            <div style="margin: 1%;">
                <h1 style="margin-left: 2%;">ACM Women Chapter</h1>
                <div class="pro-container">
                    {% for stu in wchapter %}
                    <div class="pro">
                        <a href="{% url 'profile' stu.user.username %}" style="text-align: center;height: 100%;">
                            <span class="helper"></span>
                            <img src="{{stu.profile_pic.url}}" style="border: 3px solid {% if stu.year == '3rd' %} gold {% elif stu.year == '2nd' %} silver {% else %} brown {% endif %};">
                        </a>
                        <div style="margin-left: 2%;">
                            <h3 style="margin-bottom: 2px;">{{stu.name}}</h3>
                            <span>{{stu.core}}<br>
                                {{stu.role}}<br>
                                {% if stu.year != 'other' %}
                                {% with ''|center:stu.year.0 as range %}
                                {% for _ in range %}{{ '|' }}{% endfor %}
                                {% endwith %}
                                {% else %}
                                {{stu.year}}
                                {% endif %}
                            </span>
                        </div>
                        <div class="desc">
                            <p style="margin: 5%;">{{stu.short_desc}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}